video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
container {
  position: fixed;
  color: #FFFFFF;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 200%;
}
headline {
  font-size: 500%;
  font-weight: 500;
  letter-spacing: -5px;
}
location {
  color: #FFFFFF;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 125%;
  position: absolute;
}
.search {
  position: absolute;
  margin-top: 100%;
  background-color: #000000;
}
a {
  text-decoration: none;
}
a:visited {
  color: #FFFFFF;
}
.searchContainer {
  text-align: center;
  padding-top: 25%;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
}
.input {
  padding: 10px;
  border-radius: 25px;
  width: 25%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  color: #000000;
}
button {
	background-color:#ed8223;
	color:#fff;
  margin-top: 1%;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	width:120px;
	height:32px
}
@media screen and (max-device-width: 800px) {
  body {
    background: #000 no-repeat center center fixed;
  }
  video {
    display: none;
  }
}
