html, body {
  background: #ededed;
  color: #393939;
  margin-left: 20%;

}

#container {
  display: inline-flex;
  border: 1px solid black;
  width: 50%;
}

#pic {
  margin: auto;
  width: 25%;
}

#profile {
  background: #DD2B37;
  color: #ededed;
  padding-top: 12%;
  text-align: center;
  width: 75%;
}

#profile:hover {
  background: #A32028;
}

a, a:hover, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
