html, body {
  margin: 0;
  padding: 0;
  background: #000000;
  background-image: url(./images/background.png);
  background-attachment: fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1%;
  background: #ebebeb;
}
.content {
  margin: auto 2% 3% 2%;
}
navbar {
  background: #000000;
  background-image: url(./images/background.png);
  width: 100%;
  position: fixed;
  color: #ebebeb;
  margin-top: -1.3%;
  /*padding-bottom: 1%;*/
}
.shipLinks {
  padding-top: 1%;
  margin-right: 23%;
  position: absolute;
}
a {
  color: #ebebeb;
  text-decoration: none;
}
a:visited {
  color: #ebebeb;
  text-decoration: none;
}
a:hover {
  color: #F7D800;
}
li.ships {
  display: inline-block;
  padding-right: 15px;
}
li.stats {
  display: inline;
  padding-right: 1%;
  padding-left: 1%;
  list-style-type: none;

}
.ulstats {
  margin-left: -4%;
}

.graph {
  padding-top: 5%;
}

ships {
  text-align: center;
}
